---
import MainLayout from "../layouts/MainLayout.astro";
import PokemonCard from "../components/pokemons/PokemonCard.astro";
import Title from "../components/shared/Title.astro";

const title = 'Pokemon Static | Home';

const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=100');
const data = await resp.json() as PokemonListResponse;
---

<MainLayout title={title}>
    <Title>Pokemon List</Title>
    <section aria-label="Pokemon List"
             class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 mt-4">
        {
            data.results.map(({name, url}: PokemonData) => {
                return (
                        <PokemonCard name={name} url={url}/>);
            })
        }
    </section>
</MainLayout>
