---
import MainLayout from "../layouts/MainLayout.astro";
import PokemonCard from "../components/pokemons/PokemonCard.astro";

const title = 'Pokemon Static | Home';

const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=100');
const data = await resp.json() as PokemonListResponse;

---

<MainLayout title={title}>
    <h1 class="text-purple-700 text-3xl">Pokemon List.</h1>
    <hr>
    <section aria-label="Pokemon List"
             class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 gap-4 mt-4">
        {
            data.results.map(({name, url}: PokemonData) => {
                return (
                        <PokemonCard name={name} url={url}/>);
            })
        }
    </section>
</MainLayout>
